#disconnectUserModal, #testConnectivityModal {
  .modal-dialog {
    width: 900px;
  }

  iframe {
    width: 100%;
    height: 600px;
    border: none;
  }
}

.btn, .btn-success, .btn-danger {
  color: #FFFFFF;
}

.text-black {
  color: #000000;
}
